@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Orelega+One&family=Slabo+27px&display=swap");

body {
  background-image: url("../images/science.gif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

/* https://alvarotrigo.com/blog/10-cool-css-animations-to-add-to-your-website/ */
/* oohhh lalalala */
#top-heading {
  color: rgb(230, 255, 8);
  font-family: "Bungee Inline", cursive;
  padding-top: 1.5em;
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 600%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  height: max-content;
  animation: typewriter 1s steps(10) 1s 1 normal both,
    blinkTextCursor 500ms steps(10) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 5em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.none {
  border-right: none !important;
}

.el-container {
  margin: 120px 70px 0 70px;
  display: flex;
  padding: 10px;
}

.control-im {
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.control {
  margin: auto;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container {
  border: 2px solid rgb(204, 136, 10);
  border-radius: 5px;
  width: 27%;
  height: max-content;
  align-items: center;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  margin-top: 2.5%;
}

.el {
  background-image: radial-gradient(
    circle at 35% 15%,
    white 1px,
    rgb(78, 78, 78) 3%,
    black 60%,
    rgb(78, 78, 78) 100%
  );
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(69, 86, 129);
  position: relative;
  transform-origin: 50% -300%;
}

.el::before {
  content: "";
  width: 2px;
  height: 120px;
  background-color: beige;
  left: 18px;
  top: -120px;
  position: absolute;
}

#animation-heading {
  margin: 0 auto;
  width: max-content;
  color: rgb(216, 133, 8);
  text-shadow: 3px 3px 15px rgb(136, 69, 6), 5px 4px 5px black;
}

.control.hovered {
  animation: wiggle 2s linear;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
    transform: scale(1.5);
  }
  20% {
    transform: rotateZ(10deg);
    transform: scale(1.8);
  }
  25% {
    transform: rotateZ(-10deg);
    transform: scale(2.5);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.container p {
  padding: 15px;
  color: rgb(230, 255, 8);
  background-color: rgba(30, 46, 90, 0.75);
  text-align: justify;
}

#paragraph {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding: 2.5% 5%;
  text-align: justify;
  font-family: "Slabo 27px", serif;
  border-radius: 20px;
  color: rgb(255, 255, 5);
  background-color: rgba(0, 0, 0, 0.2);
}

blockquote {
  font-family: Georgia, serif;
  font-size: 2em;
  color: white;
  position: relative;
  margin: 0 10em;
  padding: 0.5em 2em 0.5em 3em;
  transform: translateY(-100px);
  text-shadow: 4px 4px 3px black;
}

blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 4em;
  color: black;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float: right;
  font-size: 4em;
  color: black;
  line-height: 1;
  right: 0;
  bottom: -0.5em;
  content: "\201D";
}
blockquote footer {
  padding-right: 1em;
  text-align: right;
}
blockquote cite:before {
  content: "\2013";
}

#some-heading {
  display: block;
  margin: 0.5em auto;
  width: max-content;
  font-size: 3em;
  font-family: "Bungee Inline", cursive;
  color: white;
}

.scientists {
  margin-left: 5%;
  width: 60vw;
}

.scientist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.scientist img {
  width: 371px;
  margin-left: 200px;
}

.scientist p {
  border-width: 3px;
  border-style: solid;
  margin-left: 30px;
  min-width: 35em;
  text-align: justify;
  padding: 15px;
  color: #ECDBBA;
  background-color: rgba(0, 255, 221, 0.596);
  border-radius: 20px;
  background-image: linear-gradient(#191919,#2D4263)
}

#galileo {
  margin-top: 21px;
}

#galileo ~ p {
  margin-top: 12px;
}

#apj{
  border-color: #F04336;
}

#newton{
  border-color: #ED4F84;
}

#galileo-p{
  border-color: #FC9C01;  
}

@media screen and (max-width: 760px) {
  blockquote {
    font-size: 1.5em;
    margin: 0;
  }
  #top-heading{
    margin: 0;
  }
}