@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

body {
	/* background: rgb(231, 234, 238); */
	background-image: url("https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif");
}

.heading-container-container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.heading-container {
	padding: 0.5%;
}

.heading {
	font-family: 'Baloo Paaji 2', cursive;
	text-orientation: upright;
	writing-mode: vertical-rl;
	text-align: center;
	letter-spacing: -0.5em;
	color: white;
	font-size: 15px;
	background-color:rgba(245, 245, 220, 0.411);
	/* background-size: */
	padding-bottom: 10px;
}

.first-letter {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

.heading:before {
	content: "";
	background-size: 50px 50px;
	background-image: var(--bg-im);
	background-color: rgba(255, 255, 255, 0.418);
	background-repeat: no-repeat;
	display: inline-block;
	height: 50px;
	width: 50px;
}

.heading:hover:before {
	background-color: white;
}

nav ul {
	height: 62.5% !important;
}