@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

body {
    background-image: url("https://cdn.dribbble.com/users/1112010/screenshots/4147279/gif-2.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}
#stem{
	position: absolute;
	float: left;
	width: 100px;
	margin: 4px 0px 0px 14px;
}
.heading-container-container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.heading-container {
	padding: 0.5%;
}

.heading {
	font-family: 'Baloo Paaji 2', cursive;
	text-orientation: upright;
	writing-mode: vertical-rl;
	text-align: center;
	letter-spacing: -0.5em;
	color: rgb(0, 0, 0);
	font-size: 15px;
	background-color:rgba(245, 245, 220, 0.411);
	/* background-size: */
	padding-bottom: 10px;
}

.first-letter {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

.heading:before {
	content: "";
	background-size: 50px 50px;
	background-image: var(--bg-im);
	background-color: rgba(255, 255, 255, 0.418);
	background-repeat: no-repeat;
	display: inline-block;
	height: 50px;
	width: 50px;
}

.heading:hover:before {
	background-color: rgb(246, 200, 115);
}

nav ul {
	height: 62.5% !important;
}