@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body {
  background-image: url("../images/technology.gif");
}

.bg-img {
  background-image: url("../images/start.gif");
  min-width: 100%;
  min-height: 100%;
  background-size: 100%;
}

.neonText {
  color: white;
  text-shadow: 0 0 7px white, 0 0 10px white, 0 0 21px white,
    0 0 42px rgb(231, 44, 231), 0 0 82px rgb(231, 44, 231),
    0 0 92px rgb(231, 44, 231), 0 0 102px rgb(231, 44, 231),
    0 0 151px rgb(231, 44, 231);
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 20px;
  width: max-content;
  font-size: 4rem;
  animation: pulsate 1.5s infinite alternate;
  border: 0.4rem solid white;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem white, 0 0 0.2rem white, 0 0 2rem rgb(231, 44, 231),
    0 0 0.8rem rgb(231, 44, 231), 0 0 2.8rem rgb(231, 44, 231),
    inset 0 0 1.3rem rgb(231, 44, 231);
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px white, 0 0 11px white, 0 0 19px white,
      0 0 40px rgb(231, 44, 231), 0 0 80px rgb(231, 44, 231),
      0 0 90px rgb(231, 44, 231), 0 0 100px rgb(231, 44, 231),
      0 0 150px rgb(231, 44, 231);
  }

  0% {
    text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white,
      0 0 10px rgb(231, 44, 231), 0 0 45px rgb(231, 44, 231),
      0 0 55px rgb(231, 44, 231), 0 0 70px rgb(231, 44, 231),
      0 0 80px rgb(231, 44, 231);
  }
}

.slider {
  width: 500px;
  height: 353px;
  background: url("../images/card1.png");
  margin: 50px auto;
  border-radius: 15px;
  animation: slide 15s infinite;
}

@keyframes slide {
  0%,
  99.99% {
    background: url("../images/card1.png");
  }
  33.33% {
    background: url("../images/card2.png");
  }
  66.66% {
    background: url("../images/card3.png");
  }
}

h2 {
  font-family: "Poppins", sans-serif;
}
.content {
  position: relative;
}

.content h2 {
  margin: -100px 0;
  color: white;
  font-size: 3.5em;
  position: absolute;
  left: 33%;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px rgb(71, 244, 3);
}

.content h2:nth-child(2) {
  color: rgb(71, 244, 3);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.technologies {
  margin: 20px;
  margin-top: 130px;
  max-width: 80%;
  backdrop-filter: blur(10px);
}

.technologies img {
  position: relative;
  top: 15px;
  height: 225px;
  width: 300px;
  border-radius: 3px;
}

.technologies p {
  color: beige;
  margin: 30px;
  text-align: justify;
  font-size: 1.25em;
}

.technology {
  margin: 25px;
  display: flex;
}
.technologies img,
.slider {
  transition: all 0.5 ease-in-out;
}
.technologies img,
.slider {
  box-shadow: 0 8px 12px -6px gray;
}
.technologies img:hover,
.slider:hover {
  box-shadow: 0 12px 18px -6px gray;
}
