@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nanum Gothic", sans-serif;
}

body {
	background: rgb(231, 234, 238);
}

.heading-container-container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.heading-container {
	padding: 0.5%;
}

.heading {
	font-family: 'Baloo Paaji 2', cursive;
	text-orientation: upright;
	writing-mode: vertical-rl;
	text-align: center;
	letter-spacing: -0.5em;
	color: rgb(22, 8, 61);
	font-size: 15px;
}

.first-letter {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

.heading:before {
	content: "";
	background-size: 50px 50px;
	background-image: var(--bg-im);
	background-repeat: no-repeat;
	display: inline-block;
	height: 50px;
	width: 50px;
}

.heading:hover:before {
	background-color: rgba(255, 208, 0, 0.445);
}

nav ul {
	padding-top: 14px;
	height: 62.5%;
	width: 200px;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgb(117, 98, 98);
	border-bottom-left-radius: 50px;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: rgb(231, 234, 238);
	position: relative;
	padding: 25px 20px 25px 20px;
}

nav ul li a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgb(231, 234, 238);
	border-radius: 0 40px 40px 0;
	z-index: -1;
	transition: all 300ms ease-in-out;
}

nav ul li a:hover {
	color: rgb(43, 38, 38);
}

nav ul li a:hover:before {
	width: 92%;
}
